asgiref==3.9.1
cffi==1.17.1
charset-normalizer==3.4.3
Django==5.2.5
docx2txt==0.9
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
langdetect==1.0.9
pdfminer.six==20250506
psycopg[binary]==3.2.9
six==1.17.0
sqlparse==0.5.3
striprtf==0.0.29
python-docx==1.2.0
django-widget-tweaks
gunicorn==23.0.0
whitenoise==6.7.0
dj-database-url==2.2.0